.gallery {
    max-width: 880px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 17px 1fr 17px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 17px;
    margin: 0 auto;
    margin-bottom: 7px;
  }
  
  @media screen and (max-width: 1023px) {
    .gallery {
      max-width: 680px;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
  }
  @media screen and (max-width: 779px) {
    .gallery {
      max-width: 480px;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  }
  @media screen and (max-width: 610px) {
    .gallery {
      max-width: 400px;
    }
  }
  @media screen and (max-width: 479px) {
    .gallery {
      max-width: 282px;
      margin-bottom: 12px;
    }
  }