.photo {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 282px;
    max-width: 282px;
    cursor: pointer;
  }
  
  @media screen and (max-width: 1023px) {
    .photo {
      height: 331px;
      max-width: 331px;
    }
  }
  @media screen and (max-width: 779px) {
    .photo {
      height: 480px;
      max-width: 480px;
    }
  }
  @media screen and (max-width: 610px) {
    .photo {
      height: 400px;
      max-width: 400px;
    }
  }
  @media screen and (max-width: 479px) {
    .photo {
      height: 282px;
      max-width: 282px;
    }
  }



