.photo {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 282px;
    height: auto;
  }
  
  @media screen and (max-width: 1023px) {
    .photo {
      width: 331px;
      height: 331px;
    }
  }
  @media screen and (max-width: 779px) {
    .photo {
      width: 480px;
      height: 480px;
    }
  }
  @media screen and (max-width: 610px) {
    .photo {
      width: 400px;
      height: 400px;
    }
  }
  @media screen and (max-width: 479px) {
    .photo {
      width: 282px;
      height: 282px;
    }
  }