.header {
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 36px;
    max-width: 880px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: 1px solid #545454;
  }
  
  @media screen and (max-width: 1023px) {
    .header {
      max-width: 680px;
    }
  }
  @media screen and (max-width: 779px) {
    .header {
      max-width: 480px;
    }
  }
  @media screen and (max-width: 610px) {
    .header {
      max-width: 400px;
    }
  }
  @media screen and (max-width: 479px) {
    .header {
      max-width: 320px;
    }
  }