.popup__save {
    width: 358px;
    height: 50px;
    background-color: black;
    border-radius: 2px;
    color: white;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
    cursor: pointer;
  }
  
  @media screen and (max-width: 610px) {
    .popup__save {
      max-width: 228px;
    }
  }
  .popup__save:hover {
    opacity: 0.8;
  }