.popup__form-second-name {
  margin: 0 0 48px 0;
  padding: 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 27px;
}



.popup__form-second-name_type_photo {
    margin: 0 0 3px 0;
  }


  .url-name-error {
    display: block;
    font-size: 12px;
    color: red;
    margin: 0 0 45px 0;
    opacity: 0;
  }

  .url-name-error_active{
    opacity: 1;
  }