.root {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Inter", sans-serif;
  width: 100%;
  position: relative;
}

.page {
  background-color: black;
  font-family: "Inter", sans-serif;
  width: 100%;
}

.header {
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 36px;
  max-width: 880px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 680px;
  }
}
@media screen and (max-width: 779px) {
  .header {
    max-width: 480px;
  }
}
@media screen and (max-width: 610px) {
  .header {
    max-width: 400px;
  }
}
@media screen and (max-width: 479px) {
  .header {
    max-width: 320px;
  }
}
.logo {
  max-width: 143px;
  max-height: 33px;
  margin-bottom: 41px;
}

@media screen and (max-width: 479px) {
  .logo {
    margin-left: 27px;
  }
}
.profile {
  margin: 0 auto;
  margin-bottom: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 880px;
}

@media screen and (max-width: 1023px) {
  .profile {
    max-width: 680px;
  }
}
@media screen and (max-width: 779px) {
  .profile {
    max-width: 480px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .profile > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .profile > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .profile > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .profile > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .profile > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .profile > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
}
@media screen and (max-width: 610px) {
  .profile {
    max-width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 479px) {
  .profile {
    max-width: 282px;
  }
}
.profile__avatar {
  max-width: 120px;
  max-height: 120px;
  border-radius: 100%;
  margin-right: 30px;
}

@media screen and (max-width: 610px) {
  .profile__avatar {
    margin-bottom: 35px;
    max-width: 200px;
    max-height: 200px;
    margin-right: 0;
  }
}
@media screen and (max-width: 479px) {
  .profile__avatar {
    max-width: 120px;
    max-height: 120px;
    margin-bottom: 22px;
  }
}
.profile__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

@media screen and (max-width: 779px) {
  .profile__info {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
  }
}
@media screen and (max-width: 610px) {
  .profile__info {
    max-width: 340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 35px;
  }
}
.profile__info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 610px) {
  .profile__info-header {
    margin-bottom: 9px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 479px) {
  .profile__info-header {
    margin-bottom: 14px;
  }
}
.profile__info-title {
  margin: 0;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (max-width: 479px) {
  .profile__info-title {
    font-size: 27px;
    line-height: 33px;
    font-weight: 500;
  }
}
.edit__button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  margin-bottom: 10px;
  margin-left: 18px;
}

@media screen and (max-width: 479px) {
  .edit__button {
    max-width: 18px;
  }
}
.edit__button:hover {
  opacity: 0.5;
}

.profile__info-subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (max-width: 610px) {
  .profile__info-subtitle {
    text-align: center;
    margin: 0 auto;
  }
}
@media screen and (max-width: 479px) {
  .profile__info-subtitle {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    margin: 0 auto;
  }
}
.edit__profile-button {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit__profile-button_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile__button-info {
  margin: 0 auto;
  padding: 34px 36px;
  max-width: 430px;
  max-height: 330px;
  border-radius: 10px;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 54px;
  max-width: 358px;
  opacity: 0.2;
}

@media screen and (max-width: 610px) {
  .profile__button-info {
    max-width: 282px;
    padding: 24px 26px;
  }
}
.profile__button-info_active {
  -webkit-animation: 0.4s show linear forwards;
          animation: 0.4s show linear forwards;
}

@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.button-info__title {
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  color: black;
  position: relative;
}

@media screen and (max-width: 610px) {
  .button-info__title {
    font-size: 20px;
    font-weight: 700;
  }
}
.edit__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 30px;
  position: relative;
}

@media screen and (max-width: 610px) {
  .edit__form {
    gap: 20px;
  }
}
.edit__name {
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 27px;
}

.edit__second-name {
  margin: 0 0 18px 0;
  padding: 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 27px;
}

.save__edit-button {
  width: 358px;
  height: 50px;
  background-color: black;
  border-radius: 2px;
  color: white;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

@media screen and (max-width: 610px) {
  .save__edit-button {
    max-width: 228px;
  }
}
.edit__profile:hover {
  opacity: 0.8;
}

.close__edit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 32px;
  max-height: 32px;
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  top: -150px;
  right: -75px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.close__edit:hover {
  opacity: 0.6;
}

.add__photo {
  max-width: 150px;
  max-height: 50px;
  border: 1px solid white;
  background-color: black;
  padding: 14px 64px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  margin-left: auto;
}

@media screen and (max-width: 779px) {
  .add__photo {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}
@media screen and (max-width: 610px) {
  .add__photo {
    margin-left: 0;
    max-width: 250px;
    max-height: 150px;
    padding: 32px 114px;
  }
}
@media screen and (max-width: 479px) {
  .add__photo {
    max-width: 282px;
    max-height: 50px;
    padding: 17px 134px;
  }
}
.add__photo:hover {
  opacity: 0.5;
}

.plus {
  max-width: 22px;
}

@media screen and (max-width: 479px) {
  .plus {
    width: 16px;
    height: 16px;
  }
}
.gallery {
  max-width: 880px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 17px 1fr 17px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 17px;
  margin: 0 auto;
  margin-bottom: 7px;
}

@media screen and (max-width: 1023px) {
  .gallery {
    max-width: 680px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 779px) {
  .gallery {
    max-width: 480px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 610px) {
  .gallery {
    max-width: 400px;
  }
}
@media screen and (max-width: 479px) {
  .gallery {
    max-width: 282px;
    margin-bottom: 12px;
  }
}
.gallery__photo {
  max-width: 282px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1023px) {
  .gallery__photo {
    max-width: 331px;
  }
}
@media screen and (max-width: 779px) {
  .gallery__photo {
    max-width: 460px;
  }
}
@media screen and (max-width: 610px) {
  .gallery__photo {
    max-width: 400px;
  }
}
@media screen and (max-width: 479px) {
  .gallery__photo {
    max-width: 282px;
  }
}
.photo {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media screen and (max-width: 1023px) {
  .photo {
    width: 331px;
  }
}
@media screen and (max-width: 779px) {
  .photo {
    width: 480px;
  }
}
@media screen and (max-width: 610px) {
  .photo {
    width: 400px;
  }
}
@media screen and (max-width: 479px) {
  .photo {
    width: 282px;
  }
}
.photo__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.photo__info-title {
  margin-left: 21px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
}

.photo__grade {
  margin-right: 20px;
  width: 22px;
  height: 19px;
  background-image: url("../../pictures/like.svg");
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.photo__grade:hover {
  opacity: 0.5;
}

.photo__grade_active {
  background-image: url("../../pictures/active like.svg");
}

.footer {
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 680px;
  }
}
@media screen and (max-width: 779px) {
  .footer {
    max-width: 480px;
  }
}
@media screen and (max-width: 610px) {
  .footer {
    max-width: 400px;
  }
}
@media screen and (max-width: 479px) {
  .footer {
    max-width: 282px;
  }
}
.footer__text {
  margin: 0;
  padding: 60px 0 60px 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #545454;
}

@media screen and (max-width: 479px) {
  .footer__text {
    padding: 36px 0;
  }
}